<div class="header-bottom clearfix">
			<div class="breadcrumbs container">
				<nav class="pull-left row">
					<div class="page-header"><h1>Blog</h1></div>
				</nav>
				<div class="header social row hidden-xs">
					<div class="custom-google-button">
						<a class="google-button fa fa-lg fa-google-plus" href="https://plus.google.com/share?url=http://bestwebsoft.com/inprogress/bws/themeforest_medical_care_html/" target="_blank"><span class="badge pull-right"><b>48</b></span></a>
					</div>
					<div class="custom-facebook-button">
						<a class="facebook-button fa fa-lg fa-facebook" href="https://www.facebook.com/sharer.php?app_id=12345678903&amp;u=http://www.bestwebsoft.com&amp;t=Next-gen+OpenGL+initiative+announced%2C+bridging+desktop+and+mobile+APIs"><span class="badge pull-right"><b>32</b></span> </a>
					</div>
					<div class="custom-tweet-button">
						<a class="twitter-button fa fa-lg fa-twitter" href="https://twitter.com/share?url=https%3A%2F%2Fdev.twitter.com%2Fpages%2Ftweet-button" target="_blank"><span class="badge pull-right"><b>23</b></span></a>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-3 primary-sidebar widget-area" id="primary-sidebar">
					<aside id="recent-posts-2" class="widget widget_recent_entries">
						<h1 class="widget-title">Popular Posts</h1>
						<ul>
							<li class="media">
								<a class="media-left" href="#">
									<img alt="medical_care_image" class="post_thumbnail" src="http://placehold.it/190x190"/>
								</a>
								<div class="media-body">
									<h4 class="media-heading"><a href="blog-post.html" class="post_author">Urology</a></h4>
									Urology is a branch of clinical medicine
								</div>
							</li>
							<li class="media">
								<a class="media-left" href="#">
									<img alt="medical_care_image" class="post_thumbnail" src="http://placehold.it/190x190"/>
								</a>
								<div class="media-body">
									<h4 class="media-heading"><a href="blog-post.html" class="post_author">Blood Vessel Surgery</a></h4>
									Duis aute irure dolor in reprehender esse
								</div>
							</li>
							<li class="media">
								<a class="media-left" href="#">
									<img alt="medical_care_image" class="post_thumbnail" src="http://placehold.it/190x190"/>
								</a>
								<div class="media-body">
									<h4 class="media-heading"><a href="blog-post.html" class="post_author">Ut enima ad minima</a></h4>
									Duis aute irure dolor in reprehender esse
								</div>
							</li>
						</ul>
					</aside>
					<aside id="recent-comments-2" class="widget widget_recent_comments">
						<h1 class="widget-title">Latest Comments</h1>
						<ul id="recentcomments">
							<li class="recentcomments">
								<a href="doctor_profile.html" rel="external nofollow" class="url comment_author">Samwise Gamgee </a> - <a href="blog-post.html" rel="bookmark"><time class="comment-date" datetime="2014-09-02T09:57:53+00:00">September 2, 2014</time></a>
								<p class="post-summary">I just find it so hard. I don't know how to start doing it.....</p>
							</li>
							<li class="recentcomments">
								<a href="doctor_profile.html" rel="external nofollow" class="url comment_author">Liu Kang </a> - <a href="blog-post.html" rel="bookmark"><time class="comment-date" datetime="2014-09-02T09:57:53+00:00">September 2, 2014</time></a>
								<p class="post-summary">Is there some innovations in male genitourinary disease prevention?</p>
							</li>
							<li class="recentcomments">
								<a href="doctor_profile.html" rel="external nofollow" class="url comment_author">John Smith </a> - <a href="blog-post.html" rel="bookmark"><time class="comment-date" datetime="2014-09-02T09:57:53+00:00">September 2, 2014</time></a>
								<p class="post-summary">I`m planning on eating healthy. Today I will go to clinic to be weighed.</p>
							</li>
						</ul>
					</aside>
					<aside id="pages-2" class="widget widget_pages">
						<h1 class="widget-title">Usefull links</h1>
						<ul>
							<li class="page_item page-item-17"><a class="text-muted" href="services.html"><i class="fa  fa-check"></i><span>Flexible Care</span></a></li>
							<li class="page_item page-item-17"><a class="text-muted" href="services.html"><i class="fa  fa-check"></i><span>Personalised care </span></a></li>
							<li class="page_item page-item-17"><a class="text-muted" href="services.html"><i class="fa  fa-check"></i><span>Experienced staff</span></a></li>
							<li class="page_item page-item-17"><a class="text-muted" href="services.html"><i class="fa  fa-check"></i><span>Cosmetic Surgery</span></a></li>
						</ul>
					</aside>
					<aside id="text-2" class="widget widget_text">
						<h1 class="widget-title">Text Widget</h1>
						<div class="textwidget">Ut enim ad minima veniam, quis nostrum exercitationem corporis suscipit laboriosam, nisi aliquid commodi consequaturю</div>
					</aside>
				</div>
				<div class="col-md-8  col-md-offset-1">
					<div class="container-fluid blog">
						<div class="tablenav top row">
							<div class="count left">
								<b>15</b><span> posts from </span><b>1545</b><span> total</span>
							</div>
							<div class="sort right hidden-sm hidden-xs">
								<label>Sort BY:</label>
								<button type="button" class="buttonWithCaret">
									<span class="btn-name">Rating</span><span class="caret"></span>
								</button>
								<button type="button" class="buttonWithCaret">
									<span class="btn-name">Popular</span><span class="caret"></span>
								</button>
							</div>
						</div>
						<div class="posts-loop blog_full_width row alternate">
							<div class="bg-ajax-loader">
								<img alt="loader image" src="img/ajax-loader.gif"/>
							</div>
							<div class="post">
								<div class="feutered_image_full_width">
									<a href="#" class="post_meta likes-button" target="_blank">
										<span class="fa fa-lg fa-heart"></span><br/>
										<span class="badge">23</span>
									</a>
									<a href="#">
										<img alt="medical_care_image" class="img-responsive"  src="http://placehold.it/650x230"/>
									</a>
								</div>
								<div class="clearfix"></div>
								<a  href="#"  class="post_meta watched-button hidden-xs" target="_blank">
									<span class="fa fa-lg fa-eye"></span><br/>
									<span class="badge">316</span>
								</a>
								<div class="media-body">
									<a class="doc_name" href="blog-post.html" target="_blank">
										<b class="doc_name inline-block">Blood Vessel Surgery</b><br/>
									</a>
									<p>
										Blood vessel surgery deals with vascular diseases, prevention of complications and endovascular
										or surgical treatment. Atherosclerosis, commonly called “hardening of the arteries is the most
										common problem for vascular surgeons.
									</p>
									<p class="post_meta_bottom">posted <a href="#">4 days ago</a> in <a href="doctor_profile.html#reviews">Reviews</a>
										<a href="blog-post.html" class="btn btn-primary pull-right">Read More</a>
									</p>
								</div>
							</div><!-- .post -->
							<div class="clear"></div>
							<div class="post">
								<div class="feutered_image_full_width">
									<a href="#" class="post_meta likes-button" target="_blank">
										<span class="fa fa-lg fa-heart"></span><br/>
										<span class="badge">23</span>
									</a>
									<a href="#">
										<img alt="medical_care_image" class="img-responsive"  src="http://placehold.it/650x230"/>
									</a>
								</div>
								<div class="clearfix"></div>
								<a  href="#"  class="post_meta watched-button hidden-xs" target="_blank">
									<span class="fa fa-lg fa-eye"></span><br/>
									<span class="badge">316</span>
								</a>
								<div class="media-body">
									<a class="doc_name" href="blog-post.html" target="_blank">
										<b class="doc_name inline-block">Urology</b><br/>
									</a>
									<p>
										Urology is a branch of clinical medicine concerned with treatment and diagnostics of disease
										of female urinary system and male genitourinary system. Urology specialists develop new
										prophylaxis methods, treatment and diagnostics to ensure treatment and diagnostics of the
										mentioned diseases.
									</p>
									<p class="post_meta_bottom">posted <a href="#">4 days ago</a> in <a href="doctor_profile.html#reviews">Reviews</a>
										<a href="blog-post.html" class="btn btn-primary pull-right">Read More</a>
									</p>
								</div>
							</div><!-- .post -->
							<div class="clear"></div>
							<div class="post">
								<div class="feutered_image_full_width">
									<a href="#" class="post_meta likes-button" target="_blank">
										<span class="fa fa-lg fa-heart"></span><br/>
										<span class="badge">23</span>
									</a>
									<a href="#">
										<img alt="medical_care_image" class="img-responsive"  src="http://placehold.it/650x230"/>
									</a>
								</div>
								<div class="clearfix"></div>
								<a  href="#"  class="post_meta watched-button hidden-xs" target="_blank">
									<span class="fa fa-lg fa-eye"></span><br/>
									<span class="badge">316</span>
								</a>
								<div class="media-body">
									<a class="doc_name" href="blog-post.html" target="_blank">
										<b class="doc_name inline-block">Good Food for Good Health</b><br/>
									</a>
									<p>
										Healthy food do not mean depriving yourself of the foods you love or strict dietary limitations.
										Rather, it is about having more energy, stabilizing your mood and feeling great.
									</p>
									<p class="post_meta_bottom">posted <a href="#">4 days ago</a> in <a href="doctor_profile.html#reviews">Reviews</a>
										<a href="blog-post.html" class="btn btn-primary pull-right">Read More</a>
									</p>
								</div>
							</div><!-- .post -->
							<div class="clear"></div>
						</div>
						<nav class="row">
							<ul class="pagination pagination-lg hidden-xs">
								<li><a href="#">Previous</a></li>
								<li><a href="#">1</a></li>
								<li><a href="#">2</a></li>
								<li><a href="#">3</a></li>
								<li class="more"><a href="#">...</a></li>
								<li class="active"><a href="#">12</a></li>
								<li><a href="#">13</a></li>
								<li><a href="#">14</a></li>
								<li><a href="#">Next</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>

		</div>