<div class="page-content">
    <div class="container-fluid" style="margin-top:15px;">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-sky">
                    <div class="panel-heading">
                        <h2>MENSAGENS</h2>
                        <div class="panel-ctrls pull-left">
                            <i class="separator"></i>
                             {{nomePagina}}
                            <i class="separator"></i>
                        </div>
                        <div class="panel-ctrls pull-right" style="margin-top:-1px; margin-left:5px;">
                            <a ng-href="#/mensagem" class="btn btn-sm btn-default">
                                <i class="fa fa-arrow-left"></i> VOLTAR PARA A LISTA
                            </a>
                        </div>
                    </div>
                    <div class="panel-body">
                        <form role="form" name="form" class="form-horizontal row-border">
                            <div class="box-body">
                                <div class="form-group">
                                    <label for="nome" class="col-sm-2 control-label">Nome</label>
                                    <div class="col-sm-8">
                                        {{registro.nome}}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="email" class="col-sm-2 control-label">E-mail</label>
                                    <div class="col-sm-8">
                                        {{registro.email}}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="password" class="col-sm-2 control-label">Mensagem</label>
                                    <div class="col-sm-8">
                                        {{registro.message}}
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>