<div class="page-content">
    <div class="container-fluid" style="margin-top:15px;">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-sky">
                    <div class="panel-heading">
                        <h2>PERGUNTAS FREQUENTES</h2>
                        <div class="panel-ctrls pull-left">
                            <i class="separator"></i>
                             {{nomePagina}}
                            <i class="separator"></i>
                        </div>
                        <div class="panel-ctrls pull-right" style="margin-top:-1px; margin-left:5px;">
                            <a ng-href="#/faq" class="btn btn-sm btn-default">
                                <i class="fa fa-arrow-left"></i> VOLTAR PARA A LISTA
                            </a>
                        </div>
                    </div>
                    <div class="panel-body">
                        <form ng-submit="salva()" role="form" name="form" class="form-horizontal row-border" autocomplete="off">
                            <div class="box-body">
                                <div class="form-group">
                                    <label for="titulo" class="col-sm-2 control-label">Titulo</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="titulo" name="titulo" required ng-model="registro.titulo" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="habilidades" class="col-sm-2 control-label">Conteúdo</label>
                                    <div class="col-sm-8">
                                        <div ng-cloak ng-hide="isReady" class="highlight">
                                            Inicializando...
                                        </div>
                                        <div ng-cloak ng-show="isReady">
                                            <textarea ckeditor="editorOptions" name="editor" ng-model="registro.conteudo"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-footer">
                                    <div class="row">
                                        <div class="col-sm-8 col-sm-offset-2">
                                            <button id="botaoSalvar" type="submit" class="btn btn-inverse btn-block" ng-disabled="form.$invalid">
                                                Salvar
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>