<div class="page-heading">
    <h1>Dashboard</h1>
</div>
<div class="container-fluid">
	<div data-widget-group="group1">
		<div class="row">
			<div class="col-md-3">
				<div class="amazo-tile tile-success">
					<div class="tile-heading">
						<div class="title">Revenue</div>
						<div class="secondary">past 28 days</div>
					</div>
					<div class="tile-body">
						<div class="content">$75,800</div>
					</div>
					<div class="tile-footer">
						<span class="info-text text-right">13.4% <i class="fa fa-level-up"></i></span>
						<div id="sparkline-revenue" class="sparkline-line"></div>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="amazo-tile tile-info" href="#"> 
					<div class="tile-heading">
				        <div class="title">Goals</div>
				        <div class="secondary">orders this month</div>
				    </div>
				    <div class="tile-body">
				        <div class="content">3,690</div>
				    </div>
				    <div class="tile-footer">
				    	<span class="info-text text-right">82% of 4,500</span>
				    	<div class="progress">
					    	<div class="progress-bar" style="width: 82%"></div>
					    </div>
				    </div>
				</div>
			</div>
			
			<div class="col-md-3">
				<div class="amazo-tile tile-white">
					<div class="tile-heading">
						<div class="title">Items</div>
						<div class="secondary">past 28 days</div>
					</div>
					<div class="tile-body">
						<span class="content">407</span>
					</div>
					<div class="tile-footer text-center">
						<span class="info-text text-right" style="color: #f04743">13.4% <i class="fa fa-level-down"></i></span>
						<div id="sparkline-item" class="sparkline-bar"></div>
					</div>
				</div>
			</div>

			<div class="col-md-3">
				<div class="amazo-tile tile-white">
					<div class="tile-heading">
						<span class="title">Commision</span>
						<span class="secondary">past 28 days</span>
					</div>
					<div class="tile-body">
						<span class="content">$9,500</span>
					</div>
					<div class="tile-footer">
						<span class="info-text text-right" style="color: #94c355">9.2% <i class="fa fa-level-up"></i></span>
						<div id="sparkline-commission" class="sparkline"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>