<div class="header-bottom clearfix">
			<div class="breadcrumbs container">
				<nav class="pull-left row">
					<div class="page-header"><h1>Contato</h1></div>
				</nav>
				<div class="header social row hidden-xs">
					<div class="custom-google-button">
						<a class="google-button fa fa-lg fa-google-plus" href="https://plus.google.com/share?url=http://bestwebsoft.com/inprogress/bws/themeforest_medical_care_html/" target="_blank"><span class="badge pull-right"><b>48</b></span></a>
					</div>
					<div class="custom-facebook-button">
						<a class="facebook-button fa fa-lg fa-facebook" href="https://www.facebook.com/sharer.php?app_id=12345678903&amp;u=http://www.bestwebsoft.com&amp;t=Next-gen+OpenGL+initiative+announced%2C+bridging+desktop+and+mobile+APIs"><span class="badge pull-right"><b>32</b></span> </a>
					</div>
					<div class="custom-tweet-button">
						<a class="twitter-button fa fa-lg fa-twitter" href="https://twitter.com/share?url=https%3A%2F%2Fdev.twitter.com%2Fpages%2Ftweet-button" target="_blank"><span class="badge pull-right"><b>23</b></span></a>
					</div>
				</div>
			</div>
		</div>
		<div class="container about_us">
			<div class="row ">
				<div class="col-md-12">
					<img alt="medical_care_image" class="img-responsive" src="http://placehold.it/940x230"/>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 location">
					<h4>Location</h4>
					<p>
						Any good or bad experience? Please, take a moment to tell us what you think.
					</p>
					<div class="contacts">
						<div><b>Phone: </b><span class="text-muted">(333) 999 - 77 - 22</span></div>
						<div><b>Email: </b><a href="mailto:sales@bestwebsoft.com" class="text-muted">sales@bestwebsoft.com</a></div>
						<div><b>Fax: </b><span class="text-muted">(333) 999 - 88 - 22</span></div>
						<div><b>Location: </b><address class="text-muted">New York, NY 10600, East 32-th Street.</address></div>
					</div>
				</div>
				<div class="col-md-6 contact_form">
					<h4>Contact Form</h4>
					<form class="row" action="#">
						<div>
							<label class="col-md-6 col-sm-6 col-xs-6">Your Name<br/>
								<input class="client_name" type="text" placeholder="Your Name"/>
							</label>
							<label class="col-md-6 col-sm-6 col-xs-6 pull-right">Your Email<br/>
								<input class="client_email" type="text" placeholder="Your Email"/>
							</label>
							<div class="col-md-12 col-xs-12  col-sm-12">Your Message<br/>
								<textarea cols="3" rows="3" placeholder="..."></textarea><br/><br/>
									<div class="pull-left"><button type="submit" class="btn btn-primary">Submit</button></div>
									<div class="clear"></div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>