<div class="header-bottom clearfix">
    <div class="breadcrumbs container">
        <nav class="pull-left row">
            <div class="page-header">
                <h1>Nossos Serviços</h1></div>
        </nav>
        <div class="header social row hidden-xs  hidden-sm">
            <div class="custom-google-button">
                <a class="google-button fa fa-lg fa-google-plus" href="https://plus.google.com/share?url=http://bestwebsoft.com/inprogress/bws/themeforest_medical_care_html/" target="_blank"><span class="badge pull-right"><b>48</b></span></a>
            </div>
            <div class="custom-facebook-button">
                <a class="facebook-button fa fa-lg fa-facebook" href="https://www.facebook.com/sharer.php?app_id=12345678903&amp;u=http://www.bestwebsoft.com&amp;t=Next-gen+OpenGL+initiative+announced%2C+bridging+desktop+and+mobile+APIs"><span class="badge pull-right"><b>32</b></span> </a>
            </div>
            <div class="custom-tweet-button">
                <a class="twitter-button fa fa-lg fa-twitter" href="https://twitter.com/share?url=https%3A%2F%2Fdev.twitter.com%2Fpages%2Ftweet-button" target="_blank"><span class="badge pull-right"><b>23</b></span></a>
            </div>
        </div>
    </div>
</div>
<div class="widgets-area">
    <div class="container features">
        <div class="page-header row">
            <h3>We provide all kinds of medical services</h3>
            <p>Individual approach and care for our patients</p>
        </div>
        <div class="row services_summary">
            <div class="col-md-6">
                <h4 class="services_summary_header">Care and Support Services</h4>
                <p>Care and support services means to help people who are in need of practical support due to old age, low income, illness or disability. Care and support services include an alarm system so that you can call for help, having a personal assistant to help you move around the home or manage in your house.
                </p>
            </div>
            <div class="col-md-6">
                <h4 class="services_summary_header">Care for children who have complex needs</h4>
                <p>If your child has been diagnosed with a sensory impairment, disability or illness that needs a special care, that mean he/she has “complex needs”. Our Clinic provides resources on health and information, social care and education to families with children who have complex needs under the age of three.
                </p>
            </div>
        </div>
        <div class="page-header row">
            <h3>Services</h3>
            <p>The best medical devices and therapies</p>
        </div>
        <div class="row">
            <a href="#" class="col-sm-12 col-md-4 thumbnail">
                <span class="pull-left media">
							<span class="media-object fa fa-lg fa-flask"></span>
                </span>
                <span class="media-body">
							<b>Mental Health</b>
						</span>
                <b>
							Et aut officiis debitis
						</b>
                <br/>
                <span>
							What we offer is planned, reviewed and coordinated services for people with mental disabilities or a range of related problems. Lorem ipsum dolor sit amet.  et aut officiis debitis aut re
						</span>
            </a>
            <a href="#" class="col-sm-12 col-md-4 thumbnail">
                <span class="pull-left media">
							<span class="media-object fa fa-lg fa-flask"></span>
                </span>
                <span class="media-body">
							<b>Specialist Care</b>
						</span>
                <b>
							Qui ratione voluptatem
						</b>
                <br/>
                <span>
							Medical care that we provide is flexible and ranging. It includes personal care as well as support in leading an independent life. Also, we can offer a live-in care service.
						</span>
            </a>
            <a href="#" class="col-sm-12 col-md-4 thumbnail">
                <span class="pull-left media">
							<span class="media-object fa fa-lg fa-flask"></span>
                </span>
                <span class="media-body">
							<b>Flexible Care</b>
						</span>
                <b>
							Eligendi optio cumque
						</b>
                <br/>
                <span>
							Medical care that we provide is flexible and ranging. It includes personal care as well as support in leading an independent life. Also, we can offer a live-in care service
						</span>
            </a>
        </div>
        <div class="row hidden-sm hidden-xs">
            <a href="#" class="col-sm-4  thumbnail">
                <span class="pull-left media">
							<span class="media-object fa fa-lg fa-flask"></span>
                </span>
                <span class="media-body">
							<b>Experienced staff</b>
						</span>
                <br/>
                <span>
							We understand that patients have different needs. Medical Care Clinic provides a professional
							service which can really help you. Lorem ipsum dolor sit amet
						</span>
            </a>
            <a href="#" class="col-sm-4  thumbnail">
                <span class="pull-left media">
							<span class="media-object fa fa-lg fa-flask"></span>
                </span>
                <span class="media-body">
							<b>Personalised care </b>
						</span>
                <b>
							Nemo enim ipsam voluptatem
						</b>
                <br/>
                <span>
							Care visits are usually 40 minutes to an 1.5 hour long. But, if you need, there is no upper time limit. Many our patients with hard form of diseases enjoy the service of our live-in carers.
						</span>
            </a>
            <a href="#" class="col-sm-4  thumbnail">
                <span class="pull-left media">
							<span class="media-object fa fa-lg fa-flask"></span>
                </span>
                <span class="media-body">
							<b>Skin &amp; eye screening</b>
						</span>
                <b>
							Nam libero tempore
						</b>
                <br/>
                <span>
							Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
							consequuntur magni doloresos qui ratione voluptatem sequi nesciunt.
						</span>
            </a>
        </div>
    </div>
    <!-- .features -->
    <div class="container ">
        <div class="blockquote-widget">
            <div class="quote-content">
                <blockquote>
                    <h3>Temporibus autem quibusdam et aut officiis debitis aut rerum saepe?</h3>
                    <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.</p>
                </blockquote>
            </div>
            <div class="quote-button hidden-xs hidden-sm">
                <a href="blog-post.html" class="btn btn-primary">learn more</a>
            </div>
        </div>
    </div>
    <!-- .testimonials -->
</div>
