<div class="header-bottom clearfix">
    <div class="breadcrumbs container">
        <nav class="pull-left row">
            <div class="page-header">
                <h1>Sobre nós</h1>
            </div>
        </nav>
        <div class="header social row hidden-xs">
            <div class="custom-google-button">
                <a class="google-button fa fa-lg fa-google-plus" href="https://plus.google.com/share?url=http://bestwebsoft.com/inprogress/bws/themeforest_medical_care_html/" target="_blank">
                	<span class="badge pull-right"><b>48</b></span>
                </a>
            </div>
            <div class="custom-facebook-button">
                <a class="facebook-button fa fa-lg fa-facebook" href="https://www.facebook.com/sharer.php?app_id=12345678903&amp;u=http://www.bestwebsoft.com&amp;t=Next-gen+OpenGL+initiative+announced%2C+bridging+desktop+and+mobile+APIs">
                	<span class="badge pull-right"><b>32</b></span>
                </a>
            </div>
            <div class="custom-tweet-button">
                <a class="twitter-button fa fa-lg fa-twitter" href="https://twitter.com/share?url=https%3A%2F%2Fdev.twitter.com%2Fpages%2Ftweet-button" target="_blank">
                	<span class="badge pull-right"><b>23</b></span>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div id="vertical_tabs" class="row">
        <nav>
            <ul class="nav nav-tabs nav-stacked col-md-3">
                <li class="active"><a href="#sobre" data-toggle="tab">About Us</a></li>
                <li><a href="#sobre" data-toggle="tab">Our mission</a></li>
            </ul>
        </nav>
        <div class="tab-content col-md-9">
            <div class="tab-pane active row container-fluid" id="a">
                <div class="entry row">
                    <div class="col-sm-6">
                        <a href="#" class="thumbnail ">
                            <img alt="medical_care_image" class="img-responsive" src="http://placehold.it/1000x750" />
                        </a>
                    </div>
                    <div class="col-sm-6">
                        <h3 class="entry-header">
							Who we are
						</h3>
                        <p class="text-justify">
                            Our Clinic is located in the easily accessible area of NY which has huge parking for your comfort. We provide a variety of non-surgical and surgical procedures, including rhinoplasty, facelift, breast augmentation, eyelid surgery, botox injections and abdominoplasty. Therefore, we have a solution no matter what sort of enhancement you need. Also, we carry an excellent line of skin care products and have licensed, full-time medical aestheticians who perform a comprehensive number of skin procedures.
                        </p>
                    </div>
                    <p class="col-sm-12 text-justify">
                        Our clinic is equipped with state-of-the-art laboratory and digital x-ray equipment. We are ready and waiting to take care of your needs immediately. Our friendly staff will be always waiting for you. Our Clinic is open Monday through Saturday from 9 am until 9 pm. You are always welcome to visit our clinic when your regular doctor’s office is closed after 5 pm. All you health care records will remain complete, since your personal physician will get a full report to at your request. So let us take care of you and your family’s health.
                    </p>
                </div>
                <div class="entry row">
                    <div class="col-sm-7 widget">
                        <h3 class="entry-header">
							We are changing the world
						</h3>
                        <ul class="advantages_list">
                            <li><i class="fa fa-2x fa-check-square"></i><span>We Love to Take Care</span></li>
                            <li><i class="fa fa-2x fa-check-square"></i><span>Prevention Wellness</span></li>
                            <li><i class="fa fa-2x fa-check-square"></i><span>Medical Conditions</span></li>
                            <li><i class="fa fa-2x fa-check-square"></i><span>Orthopedic Services</span></li>
                            <li><i class="fa fa-2x fa-check-square"></i><span>General Conditions</span></li>
                            <li><i class="fa fa-2x fa-check-square"></i><span>Urgent Clinics Medical Care</span></li>
                        </ul>
                    </div>
                    <div class="col-sm-5 widget">
                        <h3 class="entry-header">
							What patients says
						</h3>
                        <div class="testimonials">
                            <div class="jumbotron">
                                <p class="text-center">
                                    The fabulous service along with the knowledgeable and friendly staff I receive is what keeps me coming back to them
                                </p>
                            </div>
                            <div class="testimonials-meta">
                                <div class="avatar">
                                    <img alt="medical_care_image" src="http://placehold.it/90x90" />
                                </div>
                                <p><strong>- John Lord</strong></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="entry row">
                    <h3 class="entry-header">
						Our services
					</h3>
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#lences" data-toggle="tab">Drugs of Abuse</a></li>
                        <li><a href="#dental" data-toggle="tab">Digital X-Rays</a></li>
                    </ul>
                    <div class="tab-content horizontal">
                        <div class="tab-pane media fade active in" id="lences">
                            <div class="media-body">
                                <a class="pull-left post_image" href="#">
                                    <img alt="medical_care_image" src="http://placehold.it/90x90" />
                                </a>
                                <p>
                                    Drug addiction treatment use the addictive drug to help you resist your disease. It includes self-help groups, counseling, outpatient treatment or organized inpatient programs again.
                                </p>
                            </div>
                        </div>
                        <div class="tab-pane media fade in" id="dental">
                            <div class="media-body">
                                <a class="pull-left post_image" href="#">
                                    <img alt="medical_care_image" src="http://placehold.it/90x90" />
                                </a>
                                <p>
                                    A form of X-ray imaging, digital radiography use digital X-ray sensors instead of traditional photographic technology.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane container-fluid" id="c">
                <div class="entry row">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus auctor nisl eget ligula bibendum ultricies. Aenean non posuere arcu, nec vulputate ante. Cras ac mollis lectus. Aliquam mattis tellus eros, a imperdiet risus luctus ac. Aenean vestibulum leo non condimentum congue. Mauris quis orci magna. Pellentesque aliquam malesuada consectetur.
                    </p>
                    <p>
                        Suspendisse at ligula ligula. Sed non gravida augue, non dictum urna. Sed eu venenatis risus, sit amet scelerisque sapien. Donec molestie sagittis augue, a vulputate tellus dignissim eu. Ut scelerisque bibendum maximus. Donec sit amet semper erat. Duis molestie gravida libero nec volutpat. Vivamus in porta turpis. Aliquam eu metus arcu. Fusce finibus ut turpis et malesuada. Donec elementum enim non ante placerat tristique. Donec facilisis nisi et ligula scelerisque, non dignissim enim sagittis. Quisque id odio finibus erat scelerisque interdum vitae id mauris. Suspendisse erat nunc, rhoncus a urna ac, dapibus vehicula libero.
                    </p>
                    <p>
                        Mauris in magna condimentum, malesuada velit ac, vulputate neque. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ultricies varius magna, tempor elementum ante laoreet vulputate. Nulla sit amet massa metus. Etiam commodo nec lectus id tincidunt. Maecenas tortor nisl, lacinia nec ipsum porttitor, elementum sollicitudin nulla. Sed et neque nec risus condimentum volutpat. Aliquam dapibus euismod elit, non vestibulum leo tempus eget. Aenean maximus quis orci at venenatis. Mauris at neque eget ligula placerat bibendum at consectetur dolor. Curabitur blandit at diam eget varius. Phasellus turpis dui, laoreet quis sagittis vel, dignissim vitae neque. Nulla maximus tincidunt augue eget tincidunt. Etiam elit neque, mollis vel auctor eget, convallis non lacus.
                    </p>
                    <p>
                        Praesent hendrerit bibendum quam, sed mattis nibh dictum ac. Nunc in arcu porttitor, r honcus neque non, sodales diam. Suspendisse vitae libero ante. Morbi interdum pellentesque urna quis molestie. In posuere pulvinar turpis, id euismod est malesuada at. Nullam egestas neque nisi, eu tempus arcu scelerisque quis. Sed consectetur scelerisque orci in posuere. Morbi justo lacus, posuere non nulla nec, pellentesque pellentesque sapien. Duis cursus magna libero, in hendrerit ante gravida ut. Mauris et magna eget est aliquet iaculis. Donec ornare ultrices tellus, quis auctor velit mattis nec.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>