<div class="slide">
    <div class="container slide-caption hidden-xs">
        <h1>
			<a href="/#/servicos">Agende sua consulta</a>
		</h1>
        <p>
            A forma mais fácil e rápida de agendar sua consulta com os melhores profissionais do estado.
        </p>
    </div>
    <img alt="medical_care_image" class="slide-image" src="vendor/portal/img/4.jpg" />
</div>
<div class="slide">
    <div class="container slide-caption hidden-xs">
        <h1>
			<a href="/#/profissionais">Profissionais de alta qualidade</a>
		</h1>
        <p>
            Profissionais recomendados para cuidarem melhor da sua saúde.
        </p>
    </div>
    <img alt="slider image 1" class="slide-image" src="vendor/portal/img/5.jpg" />
</div>
<div class="slide">
    <div class="container slide-caption hidden-xs">
        <h1>
			<a href="/#/servicos">Serviços 24h/7</a>
		</h1>
        <br>
        <p>
            Encontre serviços de qualidade 24h por dia, 7 dias da semana.
        </p>
    </div>
    <img alt="slider image 2" class="slide-image" src="vendor/portal/img/6.jpg" />
</div>