<div class="sticky">
  <div class="container">
    <form class="row" action="#" >
      <div class="form-group">
        <ul id="sticky-tabs" class="nav nav-tabs">
          <li ng-class="{'active' : tab==1}" ng-click="tab=1">
            <a data-toggle="tab">Agende sua consulta</a>
          </li>
          <li ng-class="{'active' : tab==2}" ng-click="tab=2">
            <a data-toggle="tab">Agende seu exame</a>
          </li>
          <li ng-class="{'active' : tab==3}" ng-click="tab=3">
            <a data-toggle="tab">Procure um especialista</a>
          </li>
          <li ng-class="{'active' : tab==4}" ng-click="tab=4" class="pull-right" style="margin-right:0;">
            <a data-toggle="tab">Procurar Clínicas</a>
          </li>
        </ul>
        <div id="sticky-tabsContent" class="tab-content">
          <div class="bg-ajax-loader">
            <img alt="loader image" src="vendor/portal/img/ajax-loader.gif"/>
          </div>
          <div class="tab-pane fade row controls in" ng-class="{'active' : tab==1}" ng-show="tab==1">
            <label class="col-md-6 col-xs-12 col-sm-12 for_text_input">Especialidades<br/>
              <select data-autowidth="false" class="custom" ng-change="profissionais()" ng-model="especialidade">
                <option disabled="disabled" selected="selected">Buscar por especialidade</option>
                <option value="1">Médicos</option>
                <option value="2">Dentistas</option>
                <option value="3">Fisioterapeutas</option>
                <option value="4">Enferemeiros</option>
                <option value="5">Nutricionistas</option>
                <option value="6">Psicólogos</option>
                <option value="7">Fonoaudiólogos</option>
                <option value="8">Educadores Físicos</option>
              </select>
            </label>
            <label class="col-md-6 col-xs-12 col-sm-12 for_text_input">Profissionais<br/>
              <select data-autowidth="false" class="custom" ng-model="profissionais">
                <option disabled="disabled" selected="selected">Buscar por profissionais</option>
              </select>
            </label>
            <br/>
            <div id="book-a-date" class="col-md-4 col-sm-6 col-xs-12">Data<br/>
              <span class="overlabel">Selec Date</span>
              <input class="datepicker ll-skin-melon" type="text" placeholder="Escolher data" id="book_an_appointment_date"/>
            </div>
            <label class="col-md-3 col-sm-10 col-xs-12">Horário<br/>
              <select data-customClass="time-select" data-autowidth="false" class="custom">
                <option disabled="disabled"  selected="selected">Escolher hora</option>
                <option>08.00-12.00</option>
                <option>13.00-18.00</option>
                <option>19.00-24.00</option>
              </select>
            </label>
            <div class="col-md-1 col-sm-2 col-xs-12 book-button">
              <a href="doctor_profile.html#book" class="btn btn-primary">Ir</a>
            </div>
          </div>
          <div class="tab-pane fade row in" ng-class="{'active' : tab==2}" ng-show="tab==2">
            <div class="row controls">
              <label class="col-md-4 col-xs-12 col-sm-6">Especialidade<br/>
                <select data-autowidth="false" class="custom" >
                  <option>Escolher especialidade</option>
                  <option>Cardiologista</option>
                  <option>Cirurgião buco-facial</option>
                  <option>Psicoterapeuta infantil</option>
                  <option>Personal trainner</option>
                </select>
              </label>
              <label class="col-md-3 col-xs-12 col-sm-6">Localização<br/>
                <select data-autowidth="false" class="custom">
                  <option disabled="disabled"  selected="selected">Escolher local</option>
                  <option>Natal</option>
                  <option>São Paulo</option>
                  <option>Brasília</option>
                </select>
              </label>
              <label class="col-md-3 col-xs-12 col-sm-10"><span>Melhores avaliados</span><br/>
                <select data-autowidth="false" data-customClass="rating-select" class="custom rating-select">
                  <option value="0" disabled="disabled" selected="selected">Melhores avaliados</option>
                  <option value="1" >
                    1 star
                  </option>
                  <option value="2" >
                    2 star
                  </option>
                  <option value="3" >
                    3 star
                  </option>
                  <option value="4" >
                    4 star
                  </option>
                  <option value="5" >
                    5 star
                  </option>
                </select>
              </label>
              <div class="col-md-2 col-xs-12 col-sm-2 book-button">
                <button id="search_btn" onclick="return false" class="btn btn-primary">Buscar</button>
              </div>
            </div>
            <div class="clear"></div>
            <div class="tablenav top">
              <div class="count left">
                <b>15</b><span> resultados encontrados </span><b>29</b><span> total</span>
              </div>
              <div class="sort right hidden-sm hidden-xs">
                <label>Classificar por:</label>
                <button type="button" class="buttonWithCaret">
                  <span class="btn-name">Avaliação</span><span class="caret"></span>
                </button>
                <button type="button" class="buttonWithCaret">
                  <span class="btn-name">Mais populares</span><span class="caret"></span>
                </button>
              </div>
              <div class="clear"></div>
            </div>
            <div class="profiles-loop">
              <div class="post">
                <div class="profile_thumb left">
                  <img alt="profile thumb 1" class="avatar_square left" src="http://placehold.it/90x90"/>
                  <b class="doc_name">Dr. Marcelo Pandolphi</b><br/>
                  <small class="doc_spec">Dermatologista</small><br/>
                  <a href="doctor_profile.html" class="view_profile">Ver experiência</a>
                </div>
                <div class="stars_display left">
                  <input disabled="disabled" value="5" type="number" class="input-21e rating form-control" min="0" max="5" step="1" data-size="xs"/>
                </div>
                <div class="doc_location left">
                  <span class="left fa fa-lg fa-map-marker"></span>
                  <address class="right">Av. Integração, 1961, Candelária<br/>
                  Natal/RN</address>
                </div>
                <a href="doctor_profile.html#book" class="btn btn-primary col-xs-12 col-sm-2 right">Agendar</a>
              </div>
              <div class="clear"></div>
              <div class="divider"></div>
              <div class="post">
                <div class="profile_thumb left">
                  <img alt="profile thumb 1" class="avatar_square left" src="http://placehold.it/90x90"/>
                <b class="doc_name">Dr. Roberto Coelho</b><br/>
                  <small class="doc_spec">Cirurgião dentista</small><br/>
                  <a href="doctor_profile.html" class="view_profile">Ver experiência</a>
                </div>
                <div class="stars_display left">
                  <input disabled="disabled" value="5" type="number" class="input-21e rating form-control" min="0" max="5" step="1" data-size="xs"/>
                </div>
                <div class="doc_location left">
                  <span class="left fa fa-lg fa-map-marker"></span>
                  <address class="right">Av. Jerônimo Câmara, 2994, Nazaré<br/>
                    Natal/RN</address>
                </div>
                <a href="doctor_profile.html#book" class="btn btn-primary col-xs-12 col-sm-2 right">Agendar</a>
              </div>
              <div class="clear"></div>
              <div class="divider"></div>
              <div class="post">
                <div class="profile_thumb left">
                  <img alt="profile thumb 2" class="avatar_square left" src="http://placehold.it/90x90"/>
                  <b class="doc_name">Dr. Alexandre Guedes</b><br/>
                  <small class="doc_spec">Fisioterapeuta</small><br/>
                  <a href="doctor_profile.html" class="view_profile">Ver experiência</a>
                </div>
                <div class="stars_display left">
                  <input disabled="disabled" value="5" type="number" class="input-21e rating form-control" min="0" max="5" step="1" data-size="xs"/>
                </div>
                <div class="doc_location left">
                  <span class="left fa fa-lg fa-map-marker"></span>
                  <address class="right">Rua Albatroz, 7976, Pitimbu<br/>
                    Natal, RN</address>
                </div>
                <a href="doctor_profile.html#book" class="btn btn-primary col-xs-12 col-sm-2 right">Agendar</a>
              </div><!--/ .post -->
              <div class="clear"></div>
              <div class="divider"></div>
              <div class="post">
                <div class="profile_thumb left">
                  <img alt="profile thumb 3" class="avatar_square left" src="http://placehold.it/90x90"/>
                  <b class="doc_name">Dr. Meriadoc Brandybuck</b><br/>
                  <small class="doc_spec">Nutricionista</small><br/>
                  <a href="doctor_profile.html" class="view_profile">View profile</a>
                </div>
                <div class="stars_display left">
                  <input disabled="disabled" value="5" type="number" class="input-21e rating form-control" min="0" max="5" step="1" data-size="xs"/>
                </div>
                <div class="doc_location left">
                  <span class="left fa fa-lg fa-map-marker"></span>
                  <address class="right">112 East 32th Street<br/>
                    New York, NY 10016</address>
                </div>
                <a href="doctor_profile.html#book" class="btn btn-primary col-xs-12 col-sm-2 right">Agendar</a>
              </div>
              <div class="clear"></div>
              <div class="divider"></div>
              <div class="post">
                <div class="profile_thumb left">
                  <img alt="profile thumb 4" class="avatar_square left" src="http://placehold.it/90x90"/>
                  <b class="doc_name">Dr. Barliman Butterbur</b><br/>
                  <small class="doc_spec">Personal Trainner</small><br/>
                  <a href="doctor_profile.html" class="view_profile">Ver experiência</a>
                </div>
                <div class="stars_display left">
                  <input disabled="disabled" value="5" type="number" class="input-21e rating form-control" min="0" max="5" step="1" data-size="xs"/>
                </div>
                <div class="doc_location left">
                  <span class="left fa fa-lg fa-map-marker"></span>
                  <address class="right">112 East 32th Street<br/>
                    New York, NY 10016</address>
                </div>
                <a href="doctor_profile.html#book" class="btn btn-primary col-xs-12 col-sm-2 right">Agendar</a>
              </div>
              <div class="clear"></div>
            </div>
            <div class="load-more hidden-xs">
              <a href="javascript:void(0)" class="bg-info">Outras opções</a>
            </div>
          </div>
          <div class="tab-pane fade row in" ng-class="{'active' : tab==3}" ng-show="tab==3">
            <div class="bg-ajax-loader">
              <img alt="loader image" src="vendor/portal/img/ajax-loader.gif"/>
            </div>
            <div class="row controls">
              <label class="col-md-4 col-xs-12 col-sm-12 for_text_input">Seu nome<br/>
                <input class="client_name" type="text" placeholder="Your Name"/>
              </label>
              <label class="col-md-4 col-xs-12 col-sm-12 for_text_input">Seu email<br/>
                <input class="" type="text" placeholder="Your Email"/>
              </label>
              <label class="col-md-4 col-xs-12 col-sm-12 for_text_input" id="departament">Setor<br/>
                <select data-autowidth="false" class="custom">
                  <option disabled="disabled"  selected="selected">Escolher setor</option>
                  <option>Comercial</option>
                  <option>Financeiro</option>
                  <option>Marketing</option>
                </select>
              </label>
              <br/>
              <label class="col-md-10 col-xs-12 col-sm-10" id="ask_your_question">Sua dúvida<br/>
                <input class="ask_your_question" type="text" placeholder="..."/>
              </label>
              <div class="col-md-2 col-xs-12 col-sm-12">
                <button id="submit_search" onclick="return false" class="btn btn-primary">Enviar</button>
              </div>
            </div>
            <div class="tablenav top">
              <div class="count left">
                <b>15</b><span> Resultados encontrados </span><b>29</b><span> total</span>
              </div>
              <div class="sort right hidden-sm hidden-xs">
                <label>Exibir por:</label>
                <button type="button" class="buttonWithCaret">
                  <span class="btn-name">Avaliação</span><span class="caret"></span>
                </button>
                <button type="button" class="buttonWithCaret">
                  <span class="btn-name">Mais populares</span><span class="caret"></span>
                </button>
              </div>
              <div class="clear"></div>
            </div>
            <div class="answers-loop">
              <div class="post">
                <header class="entry-header">
                  <h1 class="entry-title"><a href="#">Exemplo de dúvida</a></h1>
                </header>
                <div class="entry-content clearfix">
                  <p class="left">Et harum quidem rerum facilis est et expedita distinctio.
                    Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil
                    impedit quo minus id quod maxime placeat facere possimus voluptas
                    assumenda.
                  </p>
                  <a href="blog-post.html" class="btn btn-primary right">Leia mais</a>
                </div>
                <div class="post-meta hidden-xs">
                  <p>Enviada <a href="#">4 dias atrás</a> in <a href="#">Sem categoria</a> <span class="wicked-margin"><a href="#" class="text-muted">25 comentários    </a> •<a href="#" class="text-muted">  128 visualizações </a></span>  </p>
                </div>
              </div>
              <div class="clear"></div>
              <div class="divider"></div>
              <div class="post">
                <header class="entry-header">
                  <h1 class="entry-title"><a href="#">Exemplo de dúvida</a></h1>
                </header>
                <div class="entry-content clearfix">
                  <p class="left">Et harum quidem rerum facilis est et expedita distinctio.
                    Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil
                    impedit quo minus id quod maxime placeat facere possimus voluptas
                    assumenda.
                  </p>
                  <a href="blog-post.html" class="btn btn-primary right">Leia mais</a>
                </div>
                <div class="post-meta hidden-xs">
                  <p>Enviada <a href="#">4 dias atrás</a> in <a href="#">Dúvidas</a> <span class="wicked-margin"><a href="#" class="text-muted">25 comentários    </a> •<a href="#" class="text-muted">  128 visualizações </a></span>  </p>
                </div>
              </div>
              <div class="clear"></div>
              <div class="divider"></div>
              <div class="post">
                <header class="entry-header">
                  <h1 class="entry-title"><a href="#">Exemplo de dúvida</a></h1>
                </header>
                <div class="entry-content clearfix">
                  <p class="left">Et harum quidem rerum facilis est et expedita distinctio.
                    Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil
                    impedit quo minus id quod maxime placeat facere possimus voluptas
                    assumenda.
                  </p>
                  <a href="blog-post.html" class="btn btn-primary right">Leia mais</a>
                </div>
                <div class="post-meta hidden-xs">
                  <p>Enviada <a href="#">4 dias atrás</a> in <a href="#">Dúvidas</a> <span class="wicked-margin"><a href="#" class="text-muted">25 comentários    </a> •<a href="#" class="text-muted">  128 visualizações </a></span>  </p>
                </div>
              </div>
              <div class="clear"></div>
              <div class="divider"></div>
              <div class="post">
                <header class="entry-header">
                  <h1 class="entry-title"><a href="#">Exemplo de dúvida</a></h1>
                </header>
                <div class="entry-content clearfix">
                  <p class="left">Et harum quidem rerum facilis est et expedita distinctio.
                    Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil
                    impedit quo minus id quod maxime placeat facere possimus voluptas
                    assumenda.
                  </p>
                  <a href="blog-post.html" class="btn btn-primary right">Leia mais</a>
                </div>
                <div class="post-meta hidden-xs">
                  <p>Enviada <a href="#">4 dias atrás</a> in <a href="#">Sem categoria</a> <span class="wicked-margin"><a href="#" class="text-muted">25 comentários    </a> •<a href="#" class="text-muted">  145 visualizações </a></span>  </p>
                </div>
              </div>
              <div class="clear"></div>
            </div>
            <div class="load-more hidden-xs">
              <a href="javascript:void(0)" class="bg-info">Leia mais</a>
            </div>
          </div>
          <div class="tab-pane fade row in" ng-class="{'active' : tab==4}" ng-show="tab==4">
          </div>
        </div>
      </div>
    </form>
  </div>
</div>