<div class="page-content">
    <div class="container-fluid" style="margin-top:15px;">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-sky">
                    <div class="panel-heading">
                        <h2>PROFISSIONAIS</h2>
                        <div class="panel-ctrls pull-left">
                            <i class="separator"></i>
                             {{nomePagina}}
                            <i class="separator"></i>
                        </div>
                        <div class="panel-ctrls pull-right" style="margin-top:-1px; margin-left:5px;">
                            <a ng-href="#/profissional" class="btn btn-sm btn-default">
                                <i class="fa fa-arrow-left"></i> VOLTAR PARA A LISTA
                            </a>
                        </div>
                    </div>
                    <div class="panel-body">
                        <form role="form" name="form" id="wizard" class="form-horizontal row-border" autocomplete="off">
                            <div class="box-body">
                                <ul id="basicwizard-header" class="stepy-header">
                                    <li id="basicwizard-head-0" style="cursor: default;">
                                        <div>Informações Básicas</div>
                                        <span>Complete o formulário abaixo</span>
                                    </li>
                                    <li id="basicwizard-head-1" style="cursor: default;">
                                        <div>Especialidades</div>
                                        <span>Definição das habilidades</span>
                                    </li>
                                    <li id="basicwizard-head-2" class="stepy-active" style="cursor: default;">
                                        <div>Locais</div>
                                        <span>Cidades onde trabalha</span>
                                    </li>
                                    <li id="basicwizard-head-3" style="cursor: default;">
                                        <div>Perfil</div>
                                        <span>Adicione a foto</span>
                                    </li>
                                </ul>
                                <div class="form-group">
                                    <label for="nome" class="col-sm-2 control-label">Busca Fácil</label>
                                    <div class="col-sm-8">
                                        <input type="text" ng-model="registro.endereco.latlong" style="display:none;">
                                        <input type="text" ng-model="endereco" uib-typeahead="locais.formatted_address for locais in getLocation($viewValue)" typeahead-loading="loadingLocais" typeahead-no-results="noResults" class="form-control" typeahead-min-length="4" typeahead-on-select="onSelect($item, $model, $label)" typeahead-editable="false">
                                        <i ng-show="loadingLocais" class="glyphicon glyphicon-refresh"></i>
                                        <div ng-show="noResults">
                                            <i class="glyphicon glyphicon-remove"></i> Nenhum resultado encontrado
                                        </div>
                                        <p class="help-block">Digite o endereço (Nome da Av/Rua/Travessa).</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="numero" class="col-sm-2 control-label">Número</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="numero" name="numero" required ng-model="registro.endereco.numero" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="logradouro" class="col-sm-2 control-label">Logradouro</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="logradouro" name="logradouro" required ng-model="registro.endereco.logradouro" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="bairro" class="col-sm-2 control-label">Bairro</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="bairro" name="bairro" required ng-model="registro.endereco.bairro" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="cidade" class="col-sm-2 control-label">Cidade</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="cidade" name="cidade" required ng-model="registro.endereco.cidade" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="pais" class="col-sm-2 control-label">País</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="pais" name="pais" required ng-model="registro.endereco.pais" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="habilidades" class="col-sm-2 control-label">Telefones</label>
                                    <div class="col-sm-8">
                                        <tags-input ng-model="registro.endereco.telefone" display-property="titulo"></tags-input>
                                        <p class="help-block">Separe os telefones por vírgulas (,). Ex: +55(99)99999-9999</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-8 col-sm-offset-2">
                                        <button id="botaoSalvar" ng-click="salva(registro)" class="btn btn-info btn-block" ng-disabled="form.$invalid">
                                            Adicionar
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>

                        <div class="table-responsive">
                            <table class="table table-hover">
                                <tr>
                                    <th>ENDEREÇO</th>
                                    <th class="text-center">CIDADE</th>
                                    <th class="text-center">PAÍS</th>
                                    <th class="text-right col-md-1">AÇÃO</th>
                                </tr>
                                <tr ng-repeat="item in itens | filter: filtro">
                                    <td>{{item.logradouro}} - {{item.numero}} - {{item.bairro}}</td>
                                    <td class="text-center">{{item.cidade}}</td>
                                    <td class="text-center">{{item.pais}}</td>
                                    <td>
                                        <div class="pull-right">
                                            <a ng-click="remove(item)" class="btn btn-sm btn-danger">
                                                <i class="fa fa-trash"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-sm-12">
                            <div class="panel-footer">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <button id="botaoVolta" type="button" ng-click="volta()" class="btn btn-info">
                                            Voltar
                                        </button>
                                        <button id="botaoAvanca" type="button" ng-click="avanca()" class="btn btn-info pull-right">
                                            Avançar
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>