<div class="page-content">
    <div class="container-fluid" style="margin-top:15px;">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-sky">
                    <div class="panel-heading">
                        <h2>PROFISSIONAIS</h2>
                        <div class="panel-ctrls pull-left">
                            <i class="separator"></i>
                             {{nomePagina}}
                            <i class="separator"></i>
                        </div>
                        <div class="panel-ctrls pull-right" style="margin-top:-1px; margin-left:5px;">
                            <a ng-href="#/profissional" class="btn btn-sm btn-default">
                                <i class="fa fa-arrow-left"></i> VOLTAR PARA A LISTA
                            </a>
                        </div>
                    </div>
                    <div class="panel-body">
                        <form role="form" name="form" id="wizard" class="form-horizontal row-border" autocomplete="off">
                            <div class="box-body">
                                <ul id="basicwizard-header" class="stepy-header">
                                    <li id="basicwizard-head-0" style="cursor: default;">
                                        <div>Informações Básicas</div>
                                        <span>Complete o formulário abaixo</span>
                                    </li>
                                    <li id="basicwizard-head-1" class="stepy-active" style="cursor: default;">
                                        <div>Especialidades</div>
                                        <span>Definição das habilidades</span>
                                    </li>
                                    <li id="basicwizard-head-2" style="cursor: default;">
                                        <div>Locais</div>
                                        <span>Cidades onde trabalha</span>
                                    </li>
                                    <li id="basicwizard-head-3" style="cursor: default;">
                                        <div>Perfil</div>
                                        <span>Adicione a foto</span>
                                    </li>
                                </ul>
                                <div class="form-group">
                                    <label for="nome" class="col-sm-2 control-label">Especialidade</label>
                                    <div class="col-sm-8">
                                        <select id="tipo" class="form-control" ng-model="registro.especialidade" ng-options="especialidade as especialidade.titulo for especialidade in especialidades">
                                            <option value="">== Selecione ==</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="habilidades" class="col-sm-2 control-label">Habilidades</label>
                                    <div class="col-sm-8">
                                        <tags-input ng-model="registro.especialidade.habilidade" required display-property="titulo"></tags-input>
                                        <p class="help-block">Separe as habilidades por vírgulas (,).</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-8 col-sm-offset-2">
                                        <button id="botaoSalvar" ng-click="salva()" class="btn btn-info btn-block" ng-disabled="form.$invalid">
                                            Adicionar
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>

                        <div class="table-responsive">
                            <table class="table table-hover">
                                <tr>
                                    <th>ESPECIALIDADE</th>
                                    <th>HABILIDADES</th>
                                    <th class="text-right col-md-1">AÇÃO</th>
                                </tr>
                                <tr ng-repeat="item in itens | filter: filtro">
                                    <td>{{item.titulo}}</td>
                                    <td class="text-center">{{item.habilidade|toStrFromObj}}</td>
                                    <td>
                                        <div class="pull-right">
                                            <a ng-click="remove(item)" class="btn btn-sm btn-danger">
                                                <i class="fa fa-trash"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-sm-12">
                            <div class="panel-footer">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <button id="botaoVolta" type="button" ng-click="volta()" class="btn btn-info">
                                            Voltar
                                        </button>
                                        <button id="botaoAvanca" type="button" ng-click="avanca()" class="btn btn-info pull-right">
                                            Avançar
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>