<div class="page-content">
    <div class="container-fluid" style="margin-top:15px;">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-sky">
                    <div class="panel-heading">
                        <h2>PROFISSIONAIS</h2>
                        <div class="panel-ctrls pull-left">
                            <i class="separator"></i>
                             {{nomePagina}}
                            <i class="separator"></i>
                        </div>
                        <div class="panel-ctrls pull-right" style="margin-top:-1px; margin-left:5px;">
                            <a ng-href="#/profissional" class="btn btn-sm btn-default">
                                <i class="fa fa-arrow-left"></i> VOLTAR PARA A LISTA
                            </a>
                        </div>
                    </div>
                    <div class="panel-body">
                        <form name="form" class="form-horizontal row-border">
                            <div class="box-body" ng-hide="progressBar >= 99">
                                <ul id="basicwizard-header" class="stepy-header">
                                    <li id="basicwizard-head-0" style="cursor: default;">
                                        <div>Informações Básicas</div>
                                        <span>Complete o formulário abaixo</span>
                                    </li>
                                    <li id="basicwizard-head-1" style="cursor: default;">
                                        <div>Especialidades</div>
                                        <span>Definição das habilidades</span>
                                    </li>
                                    <li id="basicwizard-head-2" style="cursor: default;">
                                        <div>Locais</div>
                                        <span>Cidades onde trabalha</span>
                                    </li>
                                    <li id="basicwizard-head-3" class="stepy-active" style="cursor: default;">
                                        <div>Perfil</div>
                                        <span>Adicione a foto</span>
                                    </li>
                                </ul>
                                <div class="form-group">
                                    <label for="titulo" class="col-sm-2 control-label"></label>
                                    <div class="col-sm-8">
                                        <button class="btn btn-inverse btn-block" ngf-select="upload($file)" accept="image/*" ng-hide="progressBar > 0">Selecione a Foto</button>
                                        <div class="contextual-progress" ng-show="progress >= 0">
                                            <div class="clearfix">
                                                <div class="progress-title">Upload</div>
                                                <div class="progress-percentage">{{progress}}%</div>
                                            </div>
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-primary" style="width:{{progress}}%"></div>
                                            </div>
                                        </div>
                                        <div class="contextual-progress" ng-show="progressBar > 0">
                                            <div class="clearfix">
                                                <div class="progress-title">Progresso Total</div>
                                                <div class="progress-percentage">{{progressBar}}%</div>
                                            </div>
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-info" style="width:{{progressBar}}%"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="titulo" class="col-sm-2 control-label"></label>
                                    <div class="col-sm-8">
                                        <div ng-show="obj.src" ng-show="progressBar <= 0" ng-jcrop="obj.src" selection="obj.coords" thumbnail="obj.thumbnail"></div>
                                    </div>
                                </div>
                                <div class="form-group" ng-show="progressBar > 49">
                                    <label for="titulo" class="col-sm-2 control-label"></label>
                                    <div class="col-sm-8">
                                        <button class="btn btn-danger btn-block" ng-click="resize(obj)">Salvar</button>
                                    </div>
                                </div>
                            </div>
                            <div class="box-body" ng-show="progressBar >= 100">
                                <ul id="basicwizard-header" class="stepy-header">
                                    <li id="basicwizard-head-0" style="cursor: default;">
                                        <div>Informações Básicas</div>
                                        <span>Complete o formulário abaixo</span>
                                    </li>
                                    <li id="basicwizard-head-1" style="cursor: default;">
                                        <div>Especialidades</div>
                                        <span>Definição das habilidades</span>
                                    </li>
                                    <li id="basicwizard-head-2" style="cursor: default;">
                                        <div>Locais</div>
                                        <span>Cidades onde trabalha</span>
                                    </li>
                                    <li id="basicwizard-head-3" class="stepy-active" style="cursor: default;">
                                        <div>Perfil</div>
                                        <span>Adicione a foto</span>
                                    </li>
                                </ul>
                                <div class="form-group">
                                    <label for="titulo" class="col-sm-4 control-label"></label>
                                    <div class="col-sm-6">
                                        <img src="{{src}}">
                                    </div>
                                </div>
                            </div>
                            <div class="box-body" ng-show="haveImagem > 0">
                                <div class="form-group">
                                    <label for="titulo" class="col-sm-4 control-label"></label>
                                    <div class="col-sm-6">
                                        <img src="{{imagem}}" />
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="col-sm-12">
                            <div class="panel-footer">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <button id="botaoVolta" type="button" ng-click="volta()" class="btn btn-info">
                                            Voltar
                                        </button>
                                        <button id="botaoFinaliza" type="button" ng-click="finaliza()" class="btn btn-success pull-right" ng-show="progressBar > 99 || haveImagem > 0">
                                            Finalizar
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>