<div class="page-content">
    <div class="container-fluid" style="margin-top:15px;">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-sky">
                    <div class="panel-heading">
                        <h2>PROFISSIONAIS</h2>
                        <div class="panel-ctrls pull-left">
                            <i class="separator"></i>
                            {{nomePagina}}
                            <i class="separator"></i>
                            {{totalItems}}
                        </div>

                        <div class="panel-ctrls pull-right" style="margin-top:-1px; margin-left:5px;">
                            <a ng-href="#/profissional/add" class="btn btn-sm btn-default">
                                <i class="fa fa-plus"></i> ADICIONAR
                            </a>
                        </div>
                        <div class="panel-ctrls panel-ctrls-center-sm" style="width:200px;">
                            <div class="input-icon right">
                                <i class="fa fa-fw fa-search"></i>
                                <input type="text" name="table_search" class="input-error form-control input-sm" placeholder="Busca" ng-model="filtro" ng-keyup="search(filtro)" />
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <tr>
                                    <th>NOME</th>
                                    <th>E-MAIL</th>
                                    <th class="text-center col-md-1">TWITTER</th>
                                    <th class="text-center col-md-1">LINKEDIN</th>
                                    <th class="text-center col-md-1">FACEBOOK</th>
                                    <th class="text-center col-md-2">CADASTRADO EM</th>
                                    <th class="text-right col-md-2">AÇÃO</th>
                                </tr>
                                <tr ng-repeat="registro in registros | filter: filtro">
                                    <td><a ng-href="#/profissional/{{registro._id}}">{{registro.nome}}</a></td>
                                    <td>{{registro.email}}</td>
                                    <td class="text-center">{{registro.redesociais.twitter|haveStringOrValue}}</td>
                                    <td class="text-center">{{registro.redesociais.linkedin|haveStringOrValue}}</td>
                                    <td class="text-center">{{registro.redesociais.facebook|haveStringOrValue}}</td>
                                    <td class="text-center">{{registro.dtInclusao|toShortDateBrazil}}</td>
                                    <td>
                                        <div class="pull-right">
                                            <a ng-href="#/profissionalPerfil/{{registro._id}}" class="btn btn-sm btn-info" title="Perfil">
                                                <i class="fa fa-picture-o"></i>
                                            </a>
                                            <a ng-href="#/profissionalLocais/{{registro._id}}" class="btn btn-sm btn-info" title="Locais">
                                                <i class="fa fa-map-marker"></i>
                                            </a>
                                            <a ng-href="#/profissionalEspecialidade/{{registro._id}}" class="btn btn-sm btn-info" title="Especialidades">
                                                <i class="fa fa-graduation-cap"></i>
                                            </a>
                                            <a ng-href="#/profissional/{{registro._id}}" class="btn btn-sm btn-info" title="Informações Básicas">
                                                <i class="fa fa-pencil"></i>
                                            </a>
                                            <a ng-click="remove(registro)" class="btn btn-sm btn-danger">
                                                <i class="fa fa-trash"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                <tr ng-hide="registros.length">
                                    <td colspan="7" class="text-center">
                                        Nenhum Profissional Encontrado
                                    </td>
                                </tr>
                            </table>
                            <uib-pagination ng-show="(totalItems > pageSize)" class="pull-right" total-items="totalItems" max-size="maxSize" ng-model="currentPage" ng-change="pageChanged()" items-per-page="pageSize"></uib-pagination>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>