<div class="page-content">
    <div class="container-fluid" style="margin-top:15px;">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-sky">
                    <div class="panel-heading">
                        <h2>CLÍNICAS</h2>
                        <div class="panel-ctrls pull-left">
                            <i class="separator"></i>
                             {{nomePagina}}
                            <i class="separator"></i>
                        </div>
                        <div class="panel-ctrls pull-right" style="margin-top:-1px; margin-left:5px;">
                            <a ng-href="#/clinica" class="btn btn-sm btn-default">
                                <i class="fa fa-arrow-left"></i> VOLTAR PARA A LISTA
                            </a>
                        </div>
                    </div>
                    <div class="panel-body">
                        <form role="form" name="form" id="wizard" class="form-horizontal row-border" autocomplete="off">
                            <div class="box-body">
                                <ul id="basicwizard-header" class="stepy-header">
                                    <li id="basicwizard-head-0" style="cursor: default;">
                                        <div>Informações Básicas</div>
                                        <span>Complete o formulário abaixo</span>
                                    </li>
                                    <li id="basicwizard-head-1" class="stepy-active" style="cursor: default;">
                                        <div>Profissionais</div>
                                        <span>Relação dos profissionais</span>
                                    </li>
                                    <li id="basicwizard-head-2" style="cursor: default;">
                                        <div>Locais</div>
                                        <span>Cidades onde tem</span>
                                    </li>
                                    <li id="basicwizard-head-3" style="cursor: default;">
                                        <div>Perfil</div>
                                        <span>Adicione a foto</span>
                                    </li>
                                </ul>
                                <div class="form-group">
                                    <label for="habilidades" class="col-sm-2 control-label">Profissionais</label>
                                    <div class="col-sm-8">
                                        <input type="text" ng-model="registro.reference" uib-typeahead="profissionais.nome for profissionais in getProfissionais($viewValue)" typeahead-loading="loadingProfissional" typeahead-no-results="noResults" class="form-control" typeahead-min-length="4" typeahead-on-select="onSelect($item, $model, $label)" typeahead-editable="false">
                                        <i ng-show="loadingProfissional" class="glyphicon glyphicon-refresh"></i>
                                        <div ng-show="noResults">
                                            <i class="glyphicon glyphicon-remove"></i> Nenhum resultado encontrado
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-8 col-sm-offset-2">
                                        <button id="botaoSalvar" ng-click="salva()" class="btn btn-info btn-block" ng-disabled="form.$invalid">
                                            Adicionar
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>

                        <div class="table-responsive">
                            <table class="table table-hover">
                                <tr>
                                    <th>PROFISSIONAL</th>
                                    <th>REGISTRO</th>
                                    <th class="text-right col-md-1">AÇÃO</th>
                                </tr>
                                <tr ng-repeat="item in itens | filter: filtro">
                                    <td>{{item.nome}}</td>
                                    <td class="text-center">{{item.info.numdoc}}</td>
                                    <td>
                                        <div class="pull-right">
                                            <a ng-click="remove(item)" class="btn btn-sm btn-danger">
                                                <i class="fa fa-trash"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-sm-12">
                            <div class="panel-footer">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <button id="botaoVolta" type="button" ng-click="volta()" class="btn btn-info">
                                            Voltar
                                        </button>
                                        <button id="botaoAvanca" type="button" ng-click="avanca()" class="btn btn-info pull-right">
                                            Avançar
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>