<!DOCTYPE html>
<html lang="pt-BR" ng-app="guiadr">
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>GuiaDr</title>
  <link href="portal/vendor/css/bootstrap.min.css" rel="stylesheet"/>
  <link href='portal/vendor/fonts/fonts-googleapis.com.css' rel='stylesheet' type='text/css'/>
  <link rel="stylesheet" href="portal/vendor/css/bootstrap.css"  type="text/css" />
  <link rel="stylesheet" href="portal/vendor/css/bootstrap-theme.css" type="text/css" />
  <link rel="stylesheet" href="portal/vendor/css/owl.carousel.css" type="text/css" />
  <link rel="stylesheet" href="portal/vendor/css/selectbox.css" type="text/css" />
  <link rel="stylesheet" href="portal/vendor/css/jquery-ui.css"/>
  <link rel="stylesheet" href="portal/vendor/css/melon.datepicker.css" type="text/css" />
  <link rel="stylesheet" href="portal/vendor/css/star-rating.css" media="all" type="text/css"/>
  <link rel="stylesheet" href="portal/vendor/css/font-awesome.min.css" media="all" type="text/css"/>
  <link rel="stylesheet" href="portal/vendor/css/theme.css" type="text/css" />
</head>
<body role="document" class="home">
  <div class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand media" href="index.html">
          <span class="pull-left media">
            <span class="fa fa-lg fa-plus"></span>
          </span>
          <span class="media-body">
            <b class="site_title">GuiaDr</b>
          </span>
        </a>
        <table class="header-info hidden-xs hidden-sm">
          <tr>
            <td class="description">
              Os melhores profissionais para sua saúde
            </td>
            <td class="phone">
              (84) 2010.6165
            </td>
          </tr>
        </table>
        <form action="#" class="navbar-form hidden-sm navbar-right">
          <div class="input-group header-search">
            <div class="input-group-btn">
              <button class="btn btn-info">
                <span class="fa fa-search medical_search"></span>
              </button>
            </div>
            <input type="search" placeholder="Buscar Profissional" class="search-query" />
            <div class="input-group-btn">
              <button  type="reset" class="btn btn-info reset"></button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <nav class="nav main-menu">
      <div class="container">
        <div class="navbar-form navbar-right" role="form">
          <a href="/#/login" class="btn btn-lg btn-success">Login</a>
          <a href="/#/cadastro" class="btn btn-lg btn-default">Cadastrar</a>
        </div>
        <div class="navbar-collapse collapse top-menu">
          <ul class="nav navbar-inner navbar-nav navbar-left">
            <li class="active">
              <a href="/#/home">Início</a>
            </li>
            <li>
              <a href="/#/sobre" data-target="#sobre">Sobre Nós</a>
            </li>
            <li>
              <a href="/#/servicos" data-target="#servicos">Serviços</a>
            </li>
            <li>
              <button class="btn dropdown-toggle" type="button" id="dropdownMenuDivider1" data-toggle="dropdown">
                Profissionais
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li role="presentation">
                  <a role="menuitem" tabindex="-1" href="/#/profissional/12b3u12vuy3vu123">
                    Profissional 1
                  </a>
                </li>
                <li role="presentation">
                  <a role="menuitem" tabindex="-1" href="/#/profissional/i87yb87f675d7hf65d7">
                    Profissional 2
                  </a>
                </li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="/#/blog" data-target="#blog">Blog</a>
            </li>
            <li>
              <a href="/#/contato" data-target="#contato">Contato</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <div class="wrapper" role="main">
    <div class="header-bottom clearfix">
      <div class="breadcrumbs container">
        <nav class="pull-left row">
          <div class="page-header"><h1>Página não encontrada</h1></div>
        </nav>
      </div>
    </div>
    <div class="widgets-area">
      <div class="jumbotron">
        <div class="container page_404">
          <h2 id="text_404">404</h2>
          <p class="text-center">
            <small>Esta página não existe ou não está mais disponível.</small>
          </p>
          <a href="/#/home" class="home_from_404 thumbnail text-center">
            <span class="pull-left media" >
              <span class="media-object fa fa-lg fa-home"></span>
            </span>
            <span class="media-body">
              <span class="text-center text-muted">Voltar para a inicial</span>
            </span>
          </a>
        </div>
      </div>
    </div>

    <div class="mastfoot">
      <div class="container">
        <div class="footer row top">
          <aside class="widget col-sm-6 col-xs-12 col-md-3">
            <h4 class="widget-title">Menu</h4>
            <ul>
              <li class="page_item"><a href="/#/home">Início</a></li>
              <li class="page_item"><a href="/#/sobre">Sobre nós</a></li>
              <li class="page_item"><a href="/#/servicos">Serviços</a></li>
              <li class="page_item"><a href="/#/profissionais">Profissionais</a></li>
              <li class="page_item"><a href="/#/contato">Contato</a></li>
            </ul>
          </aside>
          <aside class="widget col-sm-6 col-xs-12 col-md-4">
            <h4 class="widget-title">Sobre</h4>
            <div class="textwidget">GuiaDr. A forma mais fácil de cuidar da sua saúde. <br>Segunda - Sábado 09h às 18h</div>
          </aside>
          <aside class="widget col-sm-6 col-xs-12 col-md-3">
            <h4 class="widget-title">Últimos tweets</h4>
            <div class="recent_tweets footer-widget-single">
              <a href="#" title="">@bestwebsoft</a> Parabéns GuiaDr. A solução que faltava no RN.
              <div class="recent_tweets_time">15 minutos atrás</div>
            </div>
          </aside>
          <aside class="widget col-sm-6 col-xs-12 col-md-3">
            <h4 class="widget-title">Fale Conosco</h4>
            <div class="textwidget">
              <address>Natal/RN<br/>Av. Jerônimo Câmara, 2994. Nazaré.</address>
              <a href="tel:+558420106165">T.: (84) 2010.6165</a><br/>
              <a href="mailto:contato@guiadr.com.br">E.: contato@guiadr.com.br</a>
            </div>
          </aside>
        </div>
        <div class="clear"></div>
        <div class="footer row bottom">
          <p class="footer-credits hidden-xs">Planejado por <a href="http://www.poloid.com.br">PoloID</a></p>
          <div class="footer social">
            <div class="custom-facebook-button">
              <a class="facebook-button fa fa-lg fa-facebook" title="Curta no Facebook" rel="me" href="https://www.facebook.com/agenciapoloid"></a>
            </div>
            <div class="custom-linkedin-button">
              <a class="linkedin-button fa fa-lg fa-linkedin" href="https://www.facebook.com/agenciapoloid"></a>
            </div>
            <div class="custom-tweet-button">
              <a class="twitter-button fa fa-lg fa-twitter" href="https://www.facebook.com/agenciapoloid"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="portal/vendor/jquery/dist/jquery.js"></script>
  <script src="portal/vendor/jquery-ui/jquery-ui.js"></script>
  <script src="portal/vendor/angular/angular.js"></script>
  <script src="portal/vendor/bootstrap/dist/js/bootstrap.min.js"></script>

  <script src="portal/vendor/angular-route/angular-route.js"></script>
  <script src="portal/vendor/angular-resource/angular-resource.js"></script>
  <script src="js/router.js"></script>

  <script src="js/services/MainService.js"></script>

  <script src="js/controllers/IndexController.js"></script>

  <script src="portal/vendor/moment/min/moment.min.js"></script>
  <script src="portal/vendor/moment/locale/pt-br.js"></script>
  <script src="portal/vendor/js/owl.carousel.js" type="text/javascript"></script>
  <script src="portal/vendor/js/jquery.ikSelect.min.js" type="text/javascript"></script>
  <script src="portal/vendor/js/jquery-ui.js" type="text/javascript"></script>
  <script src="portal/vendor/js/star-rating.min.js" type="text/javascript"></script>
  <script type="text/javascript" src="portal/vendor/js/script.js"></script>
</body>
</html>